.bg {
  margin-bottom: 20px;
}
li  {

display:block
}


li:hover #img1 {
filter: invert(0%) sepia(100%) saturate(300%) hue-rotate(270deg);
}
li:hover p{
  color: black;
}
@media (max-width: 1000px) {
.hidden{
width: 800px;
padding-left: 70px;
}
li a #img1 {
  background:#111;
  filter: grayscale(50%);
}
}
