/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
/*
.bg-products {
  background-image: url('../../../public/bg-products.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
.bgheroimgs {
  position: absolute;
  right:-100px;
  animation : float 15s infinite linear alternate forwards;
  transform: rotate(0deg);


}
.bghero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  mix-blend-mode: color;
  position: absolute;
  transform: translateX(300px);
  width: 500px;
  height: 500px;

}
@keyframes float {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(420deg);
  }
  
}
.colored {
  color:#5B06E5;
}
.categories {
    text-align: center;
    
}
.categories .category {
    display: inline-block;
    margin:auto  25px 0px;
    text-align: center;
}
.categories .category i {
    display: inline;
    color:#787885;
    font-size: 14px;
}

.categories .category p {
    font-size: 11px;
    color:#787885;
    font-family: inherit;
    
}



.main-color {
    color: #5B06E5;
}
.login-hover:hover {
    text-decoration: underline;
}
.form button {
    border: none;
    background: none;
    color: #5B06E5;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 500px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #5B06E5;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: rgb(241, 241, 241);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    outline: none;
  }
  .input:focus {
    border: none;
    outline: none;                
  }
  

  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
      
        border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
    border: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
  @media (max-width: 640px) {
    /* Styles for smaller screens */
    .form {
      width: 80%; /* Set width to 70% for smaller screens */
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
  
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#5d1ec2, #5B06E5);
    border-radius: 50%;
    opacity:60%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-15px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(15px);
    }
  }
  .dropdown-content {
    position: absolute;
    top:40px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    left:0px;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content li a {
    
    font-weight: 600;
  }
  .dropdown-content li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  .dropdown-content li a{
    color: #5B06E5;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
 
  /* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: #111;
  --animation-color: #5B06E5;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--animation-color))
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
 }
 .login:hover svg {
  filter: invert(0);

 }
 .login svg {
   filter: invert(0.5);
 }
 .login:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
 }
 
 .login:active {
  box-shadow: none;
 }
.register {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

.register:hover {
  background-color: #F2F2F2;
  color: #5B06E5;
  box-shadow: 0px 0px 20px -18px;
}

.register:active {
  transform: scale(0.95);
}

@media (max-width: 620px) {
  /* Mobile format */
  #pro99{
    height: 1100px;
  }
  #pro{
    margin-top: -50px;

  }
  #pro6{
    max-width: 200px;
  }
  #load ,#cart{
    position: absolute;
    left: 10%;
    top: 0%; 
    margin-top: 7px;
  }
  #load{
    width: 20px;
    height: 20px;
  }
  #aspectimg{
    width: 350px;
   }
   #procol{
    max-width: 400px;
   }
   #pretext5{
    text-align:center;
    width: 300px;
    margin-left: 15px;
    font-size: medium;
   }
   #pretext6{
    text-align:center;
    width: 300px;
    margin-left: 10px;
    font-size: medium;
   }
  #compact{
    position: relative;
   display: flex;
   flex-direction: right;
   left: 5%;
   border-radius: 20px;
    max-width:300px;
  height: 300px;
  }
  #compact2{
    position: relative;
    right: 8%;
  }
  #showmore{
    position: absolute;
    left: 37%;
    
  }
  .bg-products{
    display: block;

    margin-top: 500px;
    margin-left: 10px;
  }
  #herosect{
    width: 390px;
    display: inline;
    margin-left: -3px;
    height: 1150px;
  }
  .bgheroimgs{
    margin-right: 100px;
    margin-top: 200px;
    height: 500px;
  }
.cookies-modal-content{
  width: 70%;
  margin-right: 30px;
}
.cookies-modal h2,.cookies-modal p{
margin-right: 10px;
}
.btn-accept-cookies,.btn-learn-more{
margin-right: 10px;
}
}  
.loading-line {
  height: 4px;
  background-color: #6366f1;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.gr {
  background: linear-gradient(90deg, #ffffff,#fffb02 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cookies-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 9999; /* Adjust the z-index value as needed */

}

.cookies-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

.cookies-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cookies-modal p {
  margin-bottom: 20px;
}

.cookies-modal-actions {
  display: flex;
  justify-content: center;
}

.cookies-modal-actions button {
  margin: 0 10px;
}

.btn-accept-cookies {
  background-color: #5B06E5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-learn-more {
  background-color: transparent;
  border: 1px solid #5B06E5;
  color: #5B06E5;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-learn-more:hover {
  background-color: #5B06E5;
  color: #fff;
}
#pro6{
  background-color: #fffb02;
  scroll-behavior: smooth;
  color: white;
}
#pro6:active{
  background-color: black;
  color:#dfdb00;
}